body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  margin: 0; /* Remove default body margin */
}

.app {
  min-height: 100vh; /* Use min-height instead of height to ensure it fills the screen */
  max-width: 1300px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 10px;
}